<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.tailwindcss.com"></script>

  <title>{% block title %}{% endblock %} | CarTradeo</title>
</head>
<body class="bg-[#ECEDF2]">
  <header class="bg-white">
    <nav class="flex flex-col gap-4 items-start md:gap-0 md:flex-row md:items-center md:justify-between py-4 px-6 max-w-7xl mx-auto">
      <a id="home"href="/" class="text-xl text-black">CarTradeo</a>
      <div>
        {% if request.user.is_authenticated %}
          <a id="filtros" href="/cars/plp" class="text-base text-sky-500 hover:text-sky-600 transition-colors px-4 py-2 rounded-lg">Carros</a>
          <a id="minhas_conversas" href="/chats" class="text-base text-sky-500 hover:text-sky-600 transition-colors px-4 py-2 rounded-lg">Minhas conversas</a>
        {% else %}
          <a id="filtros" href="/cars/plp" class="text-base text-sky-500 hover:text-sky-600 transition-colors px-4 py-2 rounded-lg">Carros</a>
        {% endif %}
      </div>
      {% if request.user.is_authenticated %}
      <div class="flex items-center gap-2">
        <a href="/cars/new/" class="text-base text-sky-500 border border-1 border-sky-600 bg-white hover:bg-sky-500 hover:text-white transition-colors px-4 py-2 rounded-lg" id="criar_anuncio" >Criar anúncio</a>
        <a id="botao-meus-anuncios" href="/my-ads/" class="text-base text-sky-500 border border-1 border-sky-600 bg-white hover:bg-sky-500 hover:text-white transition-colors px-4 py-2 rounded-lg"  >Meus Anúncios</a>
        <a id="sairlogout"href="/logout/" class="text-base text-white border border-1 border-sky-500 bg-sky-500 hover:bg-sky-600 transition-colors px-4 py-2 rounded-lg">Sair</a>
      </div>
      {% else %}
        <a  id='logar' href="/login/" class="text-base text-white bg-sky-500 hover:bg-sky-600 transition-colors px-4 py-2 rounded-lg">Login</a>
      {% endif %}
    </nav>
  </header>

  {% block content %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}
</body>


</html>