{% extends 'core/base.html' %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="bg-sky-500 h-[240px] w-full flex justify-center items-end">
  <form method="POST" action="." class="bg-white h-[80px] mb-[-20px] w-full max-w-3xl rounded-lg flex items-center gap-4 p-4">
    {% csrf_token %}
    <input type="text" name="search" id="search" placeholder="Procure por uma marca" class="flex-1 h-full px-4 py-2 rounded-xl border border-2 border-gray-400">
    <button type="submit" href="#" class="text-lg text-white bg-sky-500 hover:bg-sky-600 transition-colors px-4 py-3 rounded-lg">Pesquisar</button>
  </form>
</div>
<div class="my-16">
  <div class="mx-auto px-6 max-w-7xl">
    <h2 class="text-3xl mb-4">Carros</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Mustang tal</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">R$480.000</p>
      </a>

      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-02.jpg" alt="Olive drab green insulated bottle with flared screw lid and flat top." class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Fiat Doblô</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">R$35.000</p>
      </a>

      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-03.jpg" alt="Person using a pen to cross a task off a productivity paper card." class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Ferrari fulana</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">R$890.000</p>
      </a>

      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-04.jpg" alt="Hand holding black machined steel mechanical pencil with brass tip and top." class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">HB20</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">R$45,000</p>
      </a>

      <!-- More products... -->
    </div>
  </div>
</div>
{% endblock %}