{% extends 'core/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="px-4">
  <form method="POST" action="." class="max-w-[600px] my-[60px] mx-auto p-6 bg-white rounded-lg" enctype='multipart/form-data'>
    <h1 class="text-2xl text-black text-center mb-4">Fazer login</h1>
    {% csrf_token %}

    <div class="mb-5">
      <label class="text-black">Nome de usuário</label>
      <input id="user" type="text" name="username" class="w-full mt-2 px-4 py-2 rounded-xl border border-2 border-gray-400">
    </div>

    <div class="mb-5">
      <label class="text-black">Senha</label>
      <input id="senha" type="password" name="password" class="w-full mt-2 px-4 py-2 rounded-xl border border-2 border-gray-400">
    </div>

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
          <p class="text-red-400">{{ error }}</p>
      {% endfor %}
    {% endif %}
  
    <button id='login-registrar' class="w-full text-base text-white mt-4 bg-sky-500 hover:bg-sky-600 transition-colors px-4 py-2 rounded-lg">Login</button>

    <a class="mt-6 flex justify-center" href="/signup/" id='registrar'>Não possui uma conta? Registre-se</a>
  </form>
</div>
{% endblock %}